.row{
    color: white;
    margin-left: 20px;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}

/* images */
.row__poster{ 
    max-height: 150px;
    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    transition: transform 450ms;
    position: relative;

} 
.row__poster:hover{    
    /* On hover we just zoom the images */
    transform:scale(1.08); 
    opacity: 1;
}
.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{    
    /* On hover we just zoom the images */
    transform:scale(1.1); 
    opacity: 1;
}
  
  .row__poster:hover::after {
    /* styles for the pseudo-element when the poster is being hovered */
    content: attr(data-name); /* display the value of the alt attribute as the content */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  