.signupScreen{
    padding: 70px;
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    background: rgba(0, 0, 0, 0.85);
}
.signupScreen > form> h1{
    margin-bottom: 25px;
    text-align: left;
}
.signupScreen__grey{
    color: grey;
}
.signupScreen__link:hover{
    cursor: pointer;
    text-decoration: underline;

}
.signupScreen > form{
    display: grid;
    flex-direction: column;
}
.signupScreen > form > input{
    outline-width: 0;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: none;
    padding: 5px 15px;
}
.signupScreen > form > button{
   padding: 16px 20px;
   font-weight: 600;
   border: none;
   cursor: pointer;
   font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #37deff;
    margin-top: 20px;
}
.signupScreen > form > button:hover{
    background-color:black;
    color: #37deff;
    transition: all 0.6;
}